In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("PrePlacement.csv")

In [3]:
dataset.dropna()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.0,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.0,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,5.0,85.80,73.60,73.30,96.8,55.50,425000.0,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
4,8.0,82.00,64.00,66.00,67.0,62.14,252000.0,M,Central,Central,Science,Sci&Tech,Yes,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,210.0,62.00,72.00,65.00,67.0,56.49,216000.0,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
144,211.0,80.60,82.00,77.60,91.0,74.49,400000.0,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
145,212.0,58.00,60.00,72.00,74.0,53.62,275000.0,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
146,213.0,67.00,67.00,73.00,59.0,69.72,295000.0,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
147,214.0,74.00,66.00,58.00,70.0,60.23,204000.0,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed

In [10]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\jegat\anaconda3\envs\cluster\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\jegat\anaconda3\envs\cluster\lib\site-packages (from scipy) (1.26.4)

In [ ]:
#INDEPENDENTSAMPLE-UNPAIR
#DIFFERENT GROUP BUT SAME CONDITION

In [11]:
from scipy.stats import ttest_ind

In [13]:
male=dataset[dataset['gender']=='M']['salary']
female=dataset[dataset['gender']=='F']['salary']
ttest_ind(male,female)

TtestResult(statistic=1.9448521615505496, pvalue=0.053714668806405776, df=146.0)

In [ ]:
#ASSIGNMENT

In [19]:
Others=dataset[dataset['hsc_b']=='Others']['salary']
Central=dataset[dataset['hsc_b']=='Central']['salary']
ttest_ind(Others,Central)

TtestResult(statistic=-0.09122184544225678, pvalue=0.9274413548271778, df=146.0)

In [15]:
Commerce=dataset[dataset['hsc_s']=='Commerce']['salary']
Science=dataset[dataset['hsc_s']=='Science']['salary']
ttest_ind(Commerce,Science)

TtestResult(statistic=-0.4102884448701644, pvalue=0.6822215686526694, df=140.0)

In [ ]:
#DEPENDENTSAMPLE-PAIR
#SAME GROUP BUT DIFFERENT CONDITION

In [16]:
from scipy.stats import ttest_rel

In [18]:
male=dataset[dataset['gender']=='M']['ssc_p']
male1=dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male,male1)

TtestResult(statistic=0.881726473207718, pvalue=0.38006050142386005, df=99)

In [ ]:
#ASSIGNMENT

In [21]:
Commerce=dataset[dataset['hsc_s']=='Commerce']['mba_p']
Commerce1=dataset[dataset['hsc_s']=='Commerce']['etest_p']
ttest_rel(Commerce,Commerce1)

TtestResult(statistic=-7.561268876092879, pvalue=6.62578075563851e-11, df=78)

In [23]:
Others=dataset[dataset['hsc_b']=='Others']['mba_p']
Others1=dataset[dataset['hsc_b']=='Others']['etest_p']
ttest_rel(Others,Others1)

TtestResult(statistic=-7.78867020262917, pvalue=1.1091019670059312e-11, df=90)